html {
	font-family: Georgia, serif;
	background-color: rgb(248, 238, 203);
	color: #0e0e7d;
	font-size: x-large;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0e0e7d rgb(106, 90, 205);
}

.collapsed {
	display: none;
}
